/04-nodejs-rest-apis-express-swagger-mysql/app/node_modules
/05-nodejs-the-complete-restful-api-masterclass/section-5-request-header-body-status/17-request-object-params-query/node_modules
/08-course-pemrograman-golang-pemula-sampai-mahir/section-06-database/vendor
/08-course-pemrograman-golang-pemula-sampai-mahir/section-9-golang-http-router/vendor
