<html>
<head>
<title>{{.Title}}</title>
</head>
<body>
  <h3>Name: {{.Name}}</h3>
  <h3>Email: {{.Email}}</h3> 
  <h3>City: {{.Address.City}}</h3>
  <h3>Postal Code: {{.Address.PostalCode}}</h3>
</body>
</html>