{{define "templateFunction"}}
<html>
<head>
</head>
<body>
  Text: {{.Title}}
  Text Uppercase: {{ .ToUppercase }}
  Text Lowercase: {{ .ToLowercase }}
  Message: {{.Message "-"}}
</body>
</html>
{{end}}