<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
</head>
<body>
<h1>{{.Name}}</h1>
File 1: <a href="/static/{{.File1}}">{{.File1}}</a><br/>
File 2: <a href="/static/{{.File2}}">{{.File2}}</a><br/>
</body>
</html>